
.explore{
    display: flex;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.create_post_button{
    width: 300px;
    border-radius: 50px;
    color: #fff;
    padding: 7px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    background: #343444;
    font-family:'Poppins', sans-serif;
}